[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=QR-Generator
Comment=Generate QR Codes
Exec=qr_generator_gui
Icon=/usr/share/qr-tools/icon.png
Terminal=false
